<h1 class="page-header">
  Faction Admin
  <%= link_to 'New Faction', new_admin_faction_path, class: "btn btn-primary pull-right" %>
</h1>


<table class="faction-table table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Icon</th>
      <th>Points</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @factions.each do |faction| %>
    <tr>
      <td>
        <h2><%= faction.name %></h2>
      </td>
      <td>
        <%= image_tag(faction.icon.url, alt: "#{faction.name} faction badge") if faction.icon %>
      </td>
      <td>
        <%= faction.scores.sum(:points) %>
      </td>
      <td>
        <%= faction.description %>
      </td>
      <td>
        <%= link_to 'Edit', edit_admin_faction_path(faction), class: "btn btn-success btn-small" %>
        <%= link_to 'Delete', admin_faction_path(faction), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-small" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

