<li>
 
  <div class="rank"></div>
 
  <div class="name">
    <%= image_tag(user.faction_badge[:url], alt: user.faction_badge[:name], title: user.faction_badge[:name]) if user.faction_badge != {} %>
    <% if signed_in? && current_user.admin? %>
      <%= link_to user.name, user_path(user) %>
    <% else %>
      <%= user.name %>
    <% end %>
  </div>

  <div class="points">
    <%= user.score(@category) || "n/a" %>
  </div>

  <div class="milestones">
    <% user.milestone_badges.each do |milestone| %>
      <%= image_tag milestone[:url], alt: milestone[:name], title: milestone[:name] %>
    <% end %>
  </div>


</li>
